{% extends "base.html" %}
{% block content %}

<div class="sign-in-container text-center">
    <div class="container">
        <div class="row">
            <form action="{{ url_for('sign_in') }}" method="POST">
                <h3>Sign In</h3>
                <div class="field">
                    <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                    <input type="text" name="username" id="username" placeholder="Username" autocomplete="off">
                </div>
                <div class="field">
                    <i class="fas fa-lock fa-sm fa-fw mr-2"></i>
                    <input type="password" name="password" id="password" placeholder="Password" autocomplete="off">
                </div>
                <button type="submit">Sign In</button>
            
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <div>
                            <p class="mt-4 text-danger">{{ message }}</p>
                        </div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                 
            </form>
        </div>
    </div>
</div>

{% endblock %}